body {
	font-family: sans-serif;
}

h1 {
	color: #cdcdcd;
	font-size: 2em;
}

.wrapper {
	margin: 0 auto ;
	text-align: center;
	padding: 2em;
}

a {
	display: inline-block;
	margin-top: 100px;
	font-weight: bold;
	font-size: 1.3em;
	color: #fff;
	background: #00AE78;
	padding: 1em 8em;
	text-decoration: none;
	border-radius: 10px;
	border-bottom: 7px solid #008E48;
}



a:active {
	border-bottom: none;
	margin-top: 108px;
	box-shadow: inset 1px 1px 2px #555;
}

